image: maven:3.5.4-jdk-8

stages:
  - analyze
  
unit_test:
  stage: test
  script:
    - mvn clean test
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

analyze-job:
  stage: analyze
  script:
    - mvn verify sonar:sonar -Dsonar.qualitygate.wait=true